.table-div{
    table{
        border-radius: 8px;
        overflow: hidden;
        thead{
            background-color: #667bcf;
            color: #ffffff;
            th{
                font-size: 0.95rem;
                font-weight: 400;
            }
        }
        td{
            font-size: 0.93rem;
            font-weight: 400;
        }
    }
}