footer {
    p {
        cursor: pointer;
    }

    .footer-col a {
        color: #808080;
        text-decoration: none;
    }

    @media only screen and (max-width: 1000px) {
        footer .footer-col {
            text-align: left;
        }
    }

    .text-info {
        font-weight: 400;
        font-size: 15px;
        margin: 0.4rem 0;
        p {
            padding-bottom: 0.6rem;
        }
    }
}